.mainContainer {
    height: 40px;
}

.menuElementIcon {
    flex: 0.5;
    justify-content: center;
    height: 40px
}

.menuElementName {
    height: 40px;
    flex: 1;
    justify-content: center
}