.priceContainer {
    flex: 0.5;
    height: 100px;
    border-bottom-color: black;
    border-bottom-width: 1px;
    justify-content: center;
};
.breakdownText {
    font-size: 10px;
    font-family: 'italic';
};