.selectorContainer {
    flex: 0.1;
    height: 100px;
    border-bottom-color: black;
    border-bottom-width: 1px;
    justify-content: center;
};
.innerContainer {
    flex-direction: row;
    height: 30px;
    background-color: #e4eef0;
    border-bottom-color: white;
    border-bottom-width: 1px;
};
.touchable {
    background-color: #e4eef0;
    height: 40px;
    flex: 0.6;
    justify-content: center;
    align-items: center;
};